# Pliki systemowe
node_modules/
npm-debug.log
yarn-error.log

# Pliki środowiska
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
build/

# Pliki IDE
.vscode/
.idea/
*.iml

# Inne
.DS_Store
Thumbs.db

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
